body {
    background: transparent;
    color: #fff;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: "bold";
    height: 100vh;
    overflow: hidden;
}

body.light-mode {
    background-color: #fff;
    color: #000;
}

.louanges {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: black;
    padding: 5px;
}

.louanges p {
    display: block;
    font-size: 80px;
}

p {
    align-items: center;
    display: flex;
    font-size: 60px;
    padding-left: 20px;
}

.refs {
    font-weight: 900;
}