body {
    background: transparent;
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    height: 100vh;
    overflow: hidden;
}

body.light-mode {
    background-color: #ffffff;
    color: #000000;
}

.louanges {
    align-items: center;
    display: flex;
    justify-content: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.louanges p{
    font-size: 3em;
}

p {
    align-items: center;
    display: flex;
    font-size: 3em;
    padding-left: 20px;
}

.refs {
    font-weight: 900;
}