body {
    background: transparent;
    color: #fff;
    font-family: Work Sans, sans-serif;
    height: 100vh;
    overflow: hidden;
}

body.light-mode {
    background-color: #fff;
    color: #000;
}

.louanges {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.louanges p {
    display: block;
    font-size: 80px;
}

p {
    align-items: center;
    display: flex;
    font-size: 60px;
    padding-left: 20px;
}

.refs {
    font-weight: 900;
}